<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.gdtheurekaproviderywgn.dao.RjywglDao">

    <select id="getData" resultType="com.example.gdtheurekaproviderywgn.entity.Rjywgl">
        select * from rjywgl
        <where>
            1=1
        </where>
    </select>


    <insert id="insertRjywjl">
        insert into rjywgl
        (type, title, content, scripttxt, creator, createtime, bz)
          values
        (#{type},#{title},#{content},#{scripttxt},#{creator},now(),#{bz})
    </insert>
</mapper>