<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.gdtheurekaproviderywgn.dao.RjywglDao">

    <select id="getData" resultType="com.example.gdtheurekaproviderywgn.entity.Rjywgl" parameterType="String">
        select * from rjywgl
        <where>
            1=1
            <if test="searchContent!='' and searchContent!=null">
                and(
                title LIKE concat(concat('%', #{searchContent}), '%')
                OR content LIKE concat(concat('%', #{searchContent}), '%')
                OR bz LIKE concat(concat('%', #{searchContent}), '%')
                OR scripttxt LIKE concat(concat('%', #{searchContent}), '%')
                OR creator LIKE concat(concat('%', #{searchContent}), '%')
                )
            </if>
            <if test="selectType!=0 and selectType!='' and selectType !=null">
                and type =#{selectType}
            </if>
        </where>
    </select>


    <insert id="insertRjywjl">
        INSERT INTO rjywgl (
            type,
            title,
            content,
            scripttxt,
            creator,
            createtime,
            bz
        )
        VALUES
            (
                #{type},#{title},#{content},#{scripttxt},#{creator},now(),#{bz}
            )
    </insert>
</mapper>