<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.gdtheurekaproviderxtgn.dao.UserDao">

    <select id="getUserData" resultType="com.example.gdtheurekaproviderxtgn.entity.User">
        select * from user
        <where>
            1=1
            and account=#{username}
            and password=#{password}
        </where>
    </select>

    <select id="getAllUsers" resultType="com.example.gdtheurekaproviderxtgn.entity.User">
        select * from user
    </select>

</mapper>